{% extends 'layout_admin.html' %}

{% block body %}

<style>
    html, body, #content{margin: 0;}

    form{
        width: 50%;
        margin: auto;
        margin-top: 40%;
        padding: 7%;
        padding-bottom: 12%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #E7F0FF;
        box-shadow: 0 1px 10px 5px rgba(55, 100, 155, .3);
        border-radius: 10px;
    }
    input{
        width: 100%;
        margin-top: 15%;
        padding: 2%;
        padding-left: 5%;
        color: rgb(0, 100, 255);
        border: none;
        border-radius: 5px;
        outline-style: none;
    }input::placeholder{color: rgba(0, 100, 255, .5);}
    #btn{
        width: 100%;
        margin-top: 20%;
        padding: 3%;
        background-color: rgb(0, 100, 255);
        color: white;
        border: none;
        border-radius: 5px;
    }

    @media screen and (min-width: 480px)
    {
        form{margin-top: 25%;}
        input{
            font-size: 3vw;
            padding: 3%;
            padding-left: 6%;
        }
    }

    @media screen and (orientation: landscape)
    {
        form{
            width: 30%;
            margin: 1% auto 5% auto;
            padding: 5%;
        }
        input{
            margin-top: 10%;
            padding: 2%;
            padding-left: 10%;
            border-radius: 7px;
        }
        #btn{margin-top: 10%;}
    }

    @media screen and (orientation: landscape) and (min-width: 720px)
    {
        form{
            margin-top: 5%;
            width: 40%;
            padding: 4% 5%;
        }
        input{
            margin-top: 7.5%;
            padding: 2%;
            padding-left: 10%;
            border-radius: 7px;
        }
        #btn{margin-top: 7.5%;}
    }

    @media screen and (orientation: landscape) and (min-width: 1024px)
    {
        form{margin-top: 15%;}
    }

    @media screen and (orientation: landscape) and (min-width: 1280px) and (min-aspect-ratio: 4/3)
    {
        form{
            width: 25%;
            margin: 15% auto 0 auto;
        }
        input{
            padding: 1%;
            padding-left: 5%;
            font-size: 2vw;
        }
    }

    @media screen and (orientation: landscape) and (min-width: 1280px) and (min-aspect-ratio: 16/9)
    {
        form{
            width: 18%;
            margin: 10% auto 0 auto;
            padding: 3%;
            padding-top: 2.5%;
        }
        input{
            width: 100%;
            margin-top: 12%;
            padding: 1.5%;
            padding-left: 8%;
            font-size: 1.5vw;
        }
        #btn{
            margin-top: 15%;
            background-color: rgba(0, 100, 255, .8);
        }#btn:hover{background-color: rgb(0, 100, 255);}
    }
</style>

<form method="post" action="/update_password">
    <input type="password" placeholder="Current Password" name="pswd" required pattern="{8, 36}">
    <input type="password" placeholder="New Password" name="pswd1" required pattern="{8, 36}">
    <input type="password" placeholder="Repeat Password" name="pswd2" required pattern="{8, 36}">
    <input type="submit" value="Change Password" id="btn">
</form>

{% endblock %}