<!doctype html>
<html>
	<head>
		<meta charset=utf-8>
		<meta name=viewport content='width=device-width'>
		<title>Blog App</title>
	</head>
	<body>
		<nav>
			<h2>Blog</h2>
			<div>
                <a href=/user_home><button>Home</button></a>
                <a href=/write_blog><button>Write Blog</button></a>
                <a href=/my_blogs><button>My Blog</button></a>
                <a href=/my_profile><button>My Profile</button></a>
                <a href=/logout><button>Logout</button></a>
			<div>
		</nav>
		<div>
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>